noderedsave
[{"id":"31346a5b.66f316","type":"tab","label":"Songs","disabled":false,"info":""},{"id":"84301b73.184728","type":"tab","label":"Strings","disabled":false,"info":""},{"id":"a2512cc0.a2f06","type":"tab","label":"Calibration","disabled":false,"info":""},{"id":"58e1250c.6f65ec","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1dd74310.1cdcd5","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d682f7db.633a98","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"a0e22e18.0f83d","type":"ui_group","z":"","name":"Songs","tab":"d682f7db.633a98","disp":true,"width":"6","collapse":false},{"id":"b48c07be.b7a758","type":"ui_group","z":"","name":"Strings","tab":"d682f7db.633a98","disp":true,"width":"6","collapse":false},{"id":"140067ab.f59738","type":"ui_group","z":"","name":"Calibration","tab":"d682f7db.633a98","disp":true,"width":"6","collapse":false},{"id":"8d46aa28.df437","type":"ui_button","z":"31346a5b.66f316","name":"","group":"a0e22e18.0f83d","order":0,"width":0,"height":0,"passthru":false,"label":"Play song","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":100,"wires":[["fc6b6016.1c991"]]},{"id":"fc6b6016.1c991","type":"exec","z":"31346a5b.66f316","command":"python /home/jordan/AGP/song.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Play selected song","x":670,"y":100,"wires":[[],[],[]]},{"id":"82d926fb.af993","type":"ui_switch","z":"31346a5b.66f316","name":"","label":"Manual/Auto","group":"a0e22e18.0f83d","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":450,"y":500,"wires":[[]]},{"id":"aac7bc8.f71c94","type":"file","z":"31346a5b.66f316","name":"","filename":"/home/jordan/AGP/song.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":940,"y":180,"wires":[[]]},{"id":"f1606e89.ccdb5","type":"ui_dropdown","z":"84301b73.184728","name":"","label":"String","place":"Select option","group":"b48c07be.b7a758","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"E","value":"0","type":"str"},{"label":"A","value":"1","type":"str"},{"label":"D","value":"2","type":"str"},{"label":"G","value":"3","type":"str"},{"label":"B","value":"4","type":"str"},{"label":"e","value":"5","type":"str"}],"payload":"","topic":"","x":190,"y":160,"wires":[["84ea26fa.5aba08"]]},{"id":"84ea26fa.5aba08","type":"file","z":"84301b73.184728","name":"","filename":"/home/jordan/AGP/note.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":620,"y":160,"wires":[[]]},{"id":"4743db98.98b104","type":"ui_button","z":"84301b73.184728","name":"","group":"b48c07be.b7a758","order":0,"width":0,"height":0,"passthru":false,"label":"Play note","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":80,"wires":[["f9e835a6.dec5c8"]]},{"id":"47808d1c.7d63dc","type":"ui_text","z":"84301b73.184728","group":"b48c07be.b7a758","order":0,"width":0,"height":0,"name":"","label":"output note","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":80,"wires":[]},{"id":"b66e9eb4.1b1e4","type":"ui_slider","z":"84301b73.184728","name":"","label":"Move selected finger","group":"b48c07be.b7a758","order":0,"width":0,"height":0,"passthru":false,"outs":"end","topic":"","min":"1","max":"9","step":1,"x":240,"y":220,"wires":[["fd1c6b01.120ab8"]]},{"id":"f9e835a6.dec5c8","type":"exec","z":"84301b73.184728","command":"python /home/jordan/AGP/playnote.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Play note","x":660,"y":80,"wires":[["47808d1c.7d63dc"],[],[]]},{"id":"fd1c6b01.120ab8","type":"file","z":"84301b73.184728","name":"","filename":"/home/jordan/AGP/slider.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":620,"y":220,"wires":[[]]},{"id":"b9a9284e.eb1bf","type":"ui_button","z":"a2512cc0.a2f06","name":"","group":"140067ab.f59738","order":0,"width":0,"height":0,"passthru":false,"label":"Calibrate note","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":240,"y":100,"wires":[["22f6056a.5dc01a"]]},{"id":"22f6056a.5dc01a","type":"exec","z":"a2512cc0.a2f06","command":"/home/jordan/AGP/calibration.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":660,"y":100,"wires":[[],[],[]]},{"id":"811c4ac2.dde48","type":"exec","z":"a2512cc0.a2f06","command":"/home/jordan/AGP/calibration_all.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":670,"y":180,"wires":[[],[],[]]},{"id":"a9e89984.31b66","type":"ui_button","z":"a2512cc0.a2f06","name":"","group":"140067ab.f59738","order":0,"width":0,"height":0,"passthru":false,"label":"Calibrate all","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":180,"wires":[["811c4ac2.dde48"]]},{"id":"e41a4429.7a954","type":"ui_button","z":"31346a5b.66f316","name":"","group":"a0e22e18.0f83d","order":0,"width":0,"height":0,"passthru":false,"label":"List songs","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":180,"wires":[["e08caf0.edf695"]]},{"id":"e08caf0.edf695","type":"exec","z":"31346a5b.66f316","command":"ls /home/jordan/AGP/songs","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":380,"y":180,"wires":[["fabdf0e3.43072"],[],[]]},{"id":"816eab45.06618","type":"ui_dropdown","z":"31346a5b.66f316","name":"","label":"Songs","place":"Choose a song","group":"a0e22e18.0f83d","order":0,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":730,"y":180,"wires":[["aac7bc8.f71c94"]],"inputLabels":["sdr"]},{"id":"fabdf0e3.43072","type":"function","z":"31346a5b.66f316","name":"","func":"var test = msg.payload;\n\nmsg.options = test.split(\"\\n\", 10);\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":180,"wires":[["816eab45.06618"]]}]
